.formWidgetHeader {
  font-size: 14px;
  border-bottom: 1px dotted #ccc;
  height: 46px;
  display: flex;
  align-items: center;
}
.formWidgetHeader a {
  display: inline-block;
  line-height: 14px;
  margin-left: 25px;
}
.formWidgetMain {
  min-width: 680px;
  border-right: 2px dotted #ebeef5;
}
.formWidgetMain .formWidgetContainer {
  padding: 10px;
  background: #f1f2f3;
  height: calc(100% - 47px);
  position: relative;
}
.formWidgetMain .formWidgetContainer .formWidgetContext {
  padding: 5px;
  background: white;
  height: 100%;
  overflow: auto;
}
.formWidgetMain .formWidgetContainer .formWidgetContext .ant-form-item {
  margin-bottom: 0px;
  padding-bottom: 24px;
}
